---
import Section from "../Section.astro";

import { basics } from "@cv";
const { summary } = basics;
---

<Section title="Sobre mí">
  <p class="text-black/60 dark:text-white/60">
    {summary}
  </p>
</Section>
